<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<% include ../components/header %>
<!-- End Header -->

<body class="page-sidebar-collapsed">


  <div class="page-container">
    <% include ../components/sidebar %>
    <div class="page-content">
      <% include ../components/nav %>
      <%- body %>
    </div>

  </div>

  <% include ../components/footer %>
</body>
</html>