<div class="page-sidebar">
    <a class="logo" href="index-2.html">Admin</a>
    <ul class="list-unstyled accordion-menu">
        <li class="active-page">
            <a href="/dashboard" class="active"><i data-feather="activity"></i>Dashboard</a>
        </li>
        <li>
            <a href="#"><i data-feather="user"></i>QL Nhân Viên<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/user"><i class="far fa-circle"></i>Nhân Viên</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i data-feather="dollar-sign"></i>Tính Lương<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/salary"><i class="far fa-circle"></i>Lương</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i data-feather="lock"></i>QL Tài Khoản<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/account"><i class="far fa-circle"></i>Tài Khoản</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i data-feather="calendar"></i>Quản lý lịch công tác<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/time"><i class="far fa-circle"></i>Lịch làm việc</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i data-feather="bookmark"></i>Kỷ luật<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/punish"><i class="far fa-circle"></i>Kỷ luật</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i data-feather="clipboard"></i>Lưu trữ<i class="fas fa-chevron-right dropdown-icon"></i></a>
            <ul class="">
                <li><a href="/save"><i class="far fa-circle"></i>Lưu trữ</a></li>
            </ul>
        </li>
    </ul>
    <a href="javascript:void(0)" id="sidebar-collapsed-toggle"><i data-feather="arrow-right"></i></a>
</div>