
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Thêm/Sửa Tài Khoản</h5>
                <a href="/account"><button type="button" class="btn btn-info m-b-xs"  style="float: right ;">Quay Lại</button></a>
                
                <form method="post" action=" <%= locals.data ? '/account/edit/'+data._id  : '/account/add' %> ">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" value='<%= locals.data ? data.email : null %>'>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" value='<%= locals.data ? data.password : null %>'>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

