
<div class="main-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card stats-card">
                <div class="card-body">
                    <div class="stats-info">
                        <h5 class="card-title">Kỷ Luật<span class="stats-change stats-change-danger">-<%= punishs %></span></h5>
                    </div>
                    <div class="stats-icon change-danger">
                        <i class="material-icons">trending_down</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card stats-card">
                <div class="card-body">
                    <div class="stats-info">
                        <h5 class="card-title">Tài Khoản<span class="stats-change stats-change-success">+<%= accounts %> </span></h5>
                    </div>
                    <div class="stats-icon change-success">
                        <i class="material-icons">trending_up</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card stats-card">
                <div class="card-body">
                    <div class="stats-info">
                        <h5 class="card-title">Nhân viên<span class="stats-change stats-change-success">+<%= users %></span></h5>
                    </div>
                    <div class="stats-icon change-success">
                        <i class="material-icons">trending_up</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card stats-card">
                <div class="card-body">
                    <div class="stats-info">
                        <h5 class="card-title">Doanh Số<span class="stats-change stats-change-success">2%</span></h5>
                        <p class="stats-text"><%= sale %>  VNĐ</p>
                    </div>
                    <div class="stats-icon change-success">
                        <i class="material-icons">trending_up</i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-bg actions-widget text-center">
                <div class="card-body">
                    <div class="actions-widget-item">
                        <a href="/punish"><button type="button" class="btn btn-circle text-primary"><i class="fas fa-bookmark"></i></button></a>
                        <span class="actions-widget-item-title">QL Kỷ Luật</span>
                    </div>
                    <div class="actions-widget-item">
                        <a href="/salary"><button type="button" class="btn btn-circle text-success"><i
                                class="far fa-credit-card"></i></button></a>
                        <span class="actions-widget-item-title">Lương</span>
                    </div>
                    <div class="actions-widget-item">
                        <a href="/account"><button type="button" class="btn btn-circle text-warning"><i class="fas fa-lock"></i></button></a>
                        <span class="actions-widget-item-title">QL Tài khoản</span>
                    </div>
                    <div class="actions-widget-item">
                        <a href="/user"><button type="button" class="btn btn-circle text-info"><i class="fas fa-user-plus"></i></button></a>
                        <span class="actions-widget-item-title">QL Nhân Viên</span>
                    </div>
                    <div class="actions-widget-item">
                        <a href="/time"><button type="button" class="btn btn-circle text-success"><i
                                class="fas fa-calendar"></i></button></a>
                        <span class="actions-widget-item-title">Lịch Công Tác</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>